.container{
    background-color: rgb(59, 59, 59);
    overflow-y: hidden;
}

.container .navbar{
    background-color: #558C98;
    height: 5rem;
    display: flex;
}

.container .navbar .logo{
    height: 6rem;
    width: 7rem;
   
}

.container .navbar .logo img{
    height: 5rem;
    width: 6rem;
}

.container .navbar .icon{
    display: flex;
    margin-left: 33rem;
}



.container .navbar .icon .user{
   display: flex;
}


.container .navbar .icon .user{
    height: 5rem;
    width: 4rem;
    margin-left: 50rem;
}

.container .navbar .icon .user img{
    border-radius: 2rem;
    height: 3.50rem;
    width: 3.50rem;
    margin-top: 1rem;
    background-color: blue;
}

.interfaceMain{
    display: flex;
}

.interfaceMain .sideBar{
    background-color: #0A424F;
    width: 13rem;
    height: 44.72rem;    
}

.interfaceMain .body{
    background-color: #EBE6E6;
    width: 90rem;
}