.containerC{
    background-color: #FFFFFF;
    width: 12rem;
    height: 8rem;
    border-radius: .40rem;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
    margin-left: 1rem;
    margin-top: 1rem;
}

.containerC .appointmentC{
    color: black;
    text-align: center;
   padding-top: 1rem;
}