*{
    margin: 0;
    padding: 0;
}

.containerNs{
    /*background-color: rgb(145, 17, 17);*/  
    height: 3rem;
    margin-top: 2rem;
}

.containerNs:hover{
    background-color: #868686;
    transition: .10s;
}

.containerNs .bodyN{
    /*background-color: blueviolet;*/  
    display: flex;
    height: 3rem;
    margin-left: 1rem;
    
}

.containerNs .bodyN img{
    width: 2rem;
    height: 2rem;
    margin-top: .40rem;
    margin-left: 1rem;
    filter: invert(100%) sepia(100%) saturate(0) hue-rotate(120deg);
}

.containerNs .bodyN h3{
    margin-top: .70rem;
    margin-left: .50rem;
    color: rgb(218, 210, 210);
}